<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="countuner">
        <div class="header">
            <h2>Wellcome my website</h2>
        </div>
        <div class="box">
            
            <a href="create">
                <div class="create">
                    <h3>Create user</h3>
                </div>
            </a>
            <a href="update">
                <div class="update">
                    <h3>Update user</h3>
                </div>
            </a>
            <a href="retrive">
                <div class="retrive">
                    <h3>Show user data</h3>
                </div>
            </a>
        </div>
    </div>
    <script src=""></script>
</body>
</html>